/* Aplicamos color de letra a cada tipo de título*/
h1 {
    color: cyan;
}

h2 {
    color: #0000FF;
}

h3 {
    color: #B653B6;
}

h4 {
    color: red;
}

h5 {
    color: #FF6600;
}

h6 {
    color: #f9a3e6;
}
